#Set defaul end of lines for all files
* text eol=lf

# Denote all image files as binary
*.png binary
*.jpg binary
*.gif binary

# Denote library files as binary
*.jar binary
*.dll binary
*.lib binary